# Python Assignment 1 - Aaditya Bahadkar - 116507981

## 0. Data Types, Structures, Indexing, and Slicing

Complete the following questions.

(5 points) Give some examples (at least 2) of mutable objects in Python.

***Answer:***

Mutable objects are objects whose values can be changed after they are created.

In Python mutable objects are of type list, dict or set. Even custom classes can be mutable.

***Examples:***

In [3]:
# List of tennis players
tennis_players = ["Sinner", "Alcaraz", "Medvedev"]
tennis_players.append("Nadal")
print(tennis_players)

# Removing a player
tennis_players.remove("Medvedev")
print(tennis_players)

# Popping a retired player
index_to_remove = tennis_players.index("Nadal")  # Find the index of "Nadal"
retired_player = tennis_players.pop(index_to_remove)  # Remove element at that index
print(tennis_players)
print(retired_player)

['Sinner', 'Alcaraz', 'Medvedev', 'Nadal']
['Sinner', 'Alcaraz', 'Nadal']
['Sinner', 'Alcaraz']
Nadal

In [2]:
# List of cricketers
cricketers = ["Kohli", "Tendulkar", "Dhoni", "Rohit Sharma"]

# Updating the name of a player
cricketers[0] = "Kohli (Captain)"
print("After updating a player's name:", cricketers)

# Inserting a player at a specific position
cricketers.insert(2, "Yuvraj")
print("After inserting a player at position 2:", cricketers)

After updating a player's name: ['Kohli (Captain)', 'Tendulkar', 'Dhoni', 'Rohit Sharma']
After inserting a player at position 2: ['Kohli (Captain)', 'Tendulkar', 'Yuvraj', 'Dhoni', 'Rohit Sharma']



---



(5 points) Give some examples (at least 2) of immutable objects in Python.

***Answer:***

An immutable object canâ€™t be changed after it is created.

Immutable Objects are of in-built datatypes like int, float, bool, string, Unicode, and tuple.

***Examples:***

In [6]:
# String are in-built datatypes hence immutable sequences of characters.
name = "Alice"
print(name)

Alice

In [7]:
name[0] = "B"  # Raises a TypeError as strings are immutable.

TypeError: 'str' object does not support item assignment

In [8]:
print(name)

Alice

In [9]:
# Tuples are also immutable ordered collections of items.
coordinates = (10, 20)
print(coordinates)

(10, 20)

In [10]:
coordinates[0] = 5  # Raises a TypeError as tuples are also immutable.

TypeError: 'tuple' object does not support item assignment

In [11]:
print(coordinates)

(10, 20)

In [12]:
# Floating-point numbers are immutable with decimal points.
price = 99.99
print(price)

99.99

In [13]:
price[0] = 1  # Raises a TypeError as floats are also immutable.

TypeError: 'float' object does not support item assignment

In [14]:
print(price) # Prints the original value of floating point number

99.99



---



(10 points) State the differences between assignment, shallow copy, and deep copy. Any reasonable answer will get full credit.

***Answer:***

Assignment (=)

Assignment simply copies the reference to an object. No new object is created.

Both variables point to the same object in memory. Any changes made through one variable will affect the other.

In [15]:
list1 = [1, 2, 3]
list2 = list1  # Assignment

list2.append(4)  # Modifying list2
print(list1)  # list1 is also affected

[1, 2, 3, 4]

Shallow Copy (copy.copy())

A shallow copy creates a new object, but the contents (references to nested objects) are still the same as in the original. It only copies the outermost object, not any objects that are nested within.

The new object is independent of the original, but if the object contains references to other mutable objects (like lists inside lists), changes to those inner objects will be reflected in both the original and the shallow copy.

In [16]:
import copy

list1 = [[1, 2], [3, 4]]
list2 = copy.copy(list1)  # Shallow copy

list2[0].append(99)  # Modifying the nested list2
print(list2)
print(list1)  # Nested object is shared hence changes are reflected in both lists

[[1, 2, 99], [3, 4]]
[[1, 2, 99], [3, 4]]

Deep Copy (copy.deepcopy())

A deep copy creates a new object and recursively copies all objects found inside the original, including nested objects.

The copied object and all of its sub-objects are completely independent of the original hence any changes made to it do not affect the original, and vice versa.

In [17]:
list1 = [[1, 2], [3, 4]]
list2 = copy.deepcopy(list1)  # Deep copy

list2[0].append(99)  # Modifying the nested list2
print(list2)  # list2 is independent
print(list1)  # No change in list1

[[1, 2, 99], [3, 4]]
[[1, 2], [3, 4]]


---

(10 points) Using string methods find() and rfind(), find the index of the first digit (i.e. 0) and the index of the last digit (5) in the string below. Then, using string slicing, extract the number (i.e. 0.595595) from this string and convert the extracted value to a floating point number. Print out this float to the console.

In [26]:
text = "F-DGFDDSFGFD-CFDSHdstgfdfe: tfsd  aaa bdsf 0.595595 fdsgfdbc";
# Find the index of the first '0'
first_digit_index = text.find('0')
print("First 0 occurs at:", first_digit_index)
# Find the index of the last '5'
last_digit_index = text.rfind('5')
print("Last 5 occurs at:", last_digit_index)
# Extract the number using slicing
number_str = text[first_digit_index:last_digit_index + 1]
print("Text stream:", number_str)
# Convert the extracted string to a float
number_float = float(number_str)
print("Converted floating-number:", number_float)

First 0 occurs at: 43
Last 5 occurs at: 50
Text stream: 0.595595
Converted floating-number: 0.595595

## 1. Conditional Statements

(10 points)
Translate the following MATLAB code into Python using `if-elif-else`.
```
n = input('Enter a number: ');

switch n
    case -1
        disp('negative one')
    case 0
        disp('zero')
    case 1
        disp('positive one')
    otherwise
        disp('other value')
end
```

In [49]:
# Getting input from the user
n = float(input('Enter a number: '))

# Using if-elif-else to mimic the switch-case structure
if n == -1:
    print('negative one')
elif n == 0:
    print('zero')
elif n == 1:
    print('positive one')
else:
    print('other value')

Enter a number: 0.99
other value

## 2. While Loops

(10 points) Write a Python program that calculates the factorial of a given number (you can assume an positive integer) using a while loop. Display the result to the console.

In [56]:
n = int(input("Enter a positive integer to calulate its factorial: "))

# Initialize variables
factorial = 1
i = 1
# Calculate the factorial using a while loop
while i<=n:
    factorial *= i
    i += 1
print(f"The factorial of {n} is {factorial}")

Enter a positive integer to calulate its factorial: 10
The factorial of 10 is 3628800

## 3. Functions

(10 points) Write a function that determines if a number is prime.

In [65]:
def is_prime(n):
# Check first if the input is > 1
  if n <= 1:
    return False
# Use a while loop to find any factors
  i = n-1
  while i > 1:
    if n % i == 0:
      return False # Factors exist hence not prime
    i -= 1
  return True # No factors exist hence number is prime
# test cases
print(is_prime(2))
print(is_prime(10))
print(is_prime(17))
print(is_prime(3))
print(is_prime(49))

True
False
True
True
False

## 4. List Comprehension

(10 points) Write a Python function called `prime_factors` that takes a relatively small integer as input and returns a list of its distinct prime factors. The function should use list comprehension to generate the list of distinct prime factors. You may use the function is_prime() defined in Q3.

In [72]:
def prime_factors(n):
  factors = []  # List to store prime factors
  for i in range(2, n + 1):
    # Checking if i is a factor of n and if i is prime
    if n % i == 0 and is_prime(i):
      factors.append(i)  # Adding i to the list of factors
  return factors

# test cases
print(prime_factors(30))  # Output: [2, 3, 5]
print(prime_factors(56))  # Output: [2, 7]
print(prime_factors(198))  # Output: [2, 3, 11]
print(prime_factors(464))  # Output: [2, 29]

[2, 3, 5]
[2, 7]
[2, 3, 11]
[2, 29]

## 5. Recursive Functions
(25 points) Write a function that uses recursion to generate the $n$th row of the Pascal's triangle.
```
              1
           1     1
        1     2     1
      1    3     3     1
   1    4     6     4    1
1     5    10    10    5    1
...
...
...
```

In [78]:
def pascal(n):
    # Base case: return the first row of Pascal's Triangle
    if n == 1:
        return [1]  # The first row is always [1]

    # Recursive case: calculate the current row based on the previous row
    else:
        previous_row = pascal(n - 1)  # Recursively get the previous row
        current_row = [1]  # Every row starts with 1

        # Loop through the previous row to generate the current row
        for i in range(len(previous_row) - 1):
            # Add adjacent values from the previous row
            current_row.append(previous_row[i] + previous_row[i + 1])

        # End the current row with 1 and return it
        return current_row + [1]  # Every row ends with 1

# test case
print(pascal(6))  # output [1, 5, 10, 10, 5, 1]
print(pascal(5))
print(pascal(4))
print(pascal(3))
print(pascal(2))
print(pascal(1))

[1, 5, 10, 10, 5, 1]
[1, 4, 6, 4, 1]
[1, 3, 3, 1]
[1, 2, 1]
[1, 1]
[1]

Rewrite the above function using only `while` or `for` loops instead of recursion.

In [80]:
def pascal_by_loops(n):
# First row is only 1
    current_row = [1]

    # Loop to calculate each row from the 2nd to the nth row
    for row_num in range(1, n):
        # Creating a new row starting with 1
        new_row = [1]

        # Fill in the values for the new row by adding adjacent values from the current row
        for i in range(len(current_row) - 1):
            new_row.append(current_row[i] + current_row[i + 1])
        # End the new row with 1
        new_row.append(1)
        # Moving to the next row as new_row becomes current_row for next iteration
        current_row = new_row

    # Return the nth row
    return current_row
# test case
print(pascal_by_loops(6))

[1, 5, 10, 10, 5, 1]



---


ï¼ˆ5 points) good coding practice and properly submitting your work to GitHub.